---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="{{ post.layout }}">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <span class="category">{{ post.layout }}</span>

          <span class="title">{{ page.author }} &mdash; {{ post.title }}</span>

          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
            •
            {% if post.layout != post.category %}
              {{ post.category }}
              •
            {% endif %}
            {{ post.content | number_of_words }} words
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
