---
layout: default
---

<div class="home">

  <ul class="post-list">
    {% for post in site.posts %}
      <li class="{{ post.layout }}" data-category="{{ post.category }}">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
          <span class="category">{{ post.layout }}</span>

          <span class="title">
            <span class="pre-title">{{ page.author }} &ndash;</span>
            {{ post.title }}
          </span>

          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
            •
            {% if post.layout == "book" %}
              {{ post.category }}
              •
            {% endif %}
            {{ post.content | number_of_words }} words
          </span>
        </a>
      </li>
    {% endfor %}
  </ul>

</div>
