/**
 * Site header
 */
.site-nav {
    /* Looks a little more aligned than the default */
    line-height: 59px;
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit / 2 0 0;
}

.footer-col-1 {
    width: -webkit-calc(30% - (#{$spacing-unit} / 2));
    width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(31% - (#{$spacing-unit} / 2));
    width:         calc(31% - (#{$spacing-unit} / 2));
    text-align: center;
}

.footer-col-3 {
    width: -webkit-calc(39% - (#{$spacing-unit} / 2));
    width:         calc(39% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-query($on-palm) {
    .footer-col {
        text-align: initial;
    }
}



/**
 * Page content
 */
.post-list {
    > li {
        margin-bottom: 0;
    }
}

.post-link {
    font-size: 16px;
}
