---
layout: default
---
<article class="essay" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <p class="post-meta">
      {% if page.author %}by <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
      <a href="{{ page.url | prepend: site.history_url }}"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time></a>
    </p>
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    {% if page.subtitle %}<h3>&mdash; {{ page.subtitle }}</h3>{% endif %} 
  </header>

  <div class="post-content" itemprop="articleBody">
    {% if page.reason %}<div class="post-reason">{{ page.reason }}</div>{% endif %}
    {{ content }}
  </div>

  {% if page.tags %}<p>{{ page.tags | sort }}</p>{% endif %}
  <p>{{ page.content | number_of_words }} words</p>

</article>

{% include cc_license.html %}
